<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="VSTSNuget" value="https://wkaxcess.pkgs.visualstudio.com/_packaging/Axcess/nuget/v3/index.json"/>
    <add key="Global" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <VSTSNuget>
      <add key="Username" value="build.tfs" />
      <add key="ClearTextPassword" value="ychwecxzq6uxshhroclzgywpwf6il7ukiqvsnmliuj4roibnqonq" />
    </VSTSNuget>
    <PracticeVSTSNuget>
      <add key="Username" value="build.tfs" />
      <add key="ClearTextPassword" value="ychwecxzq6uxshhroclzgywpwf6il7ukiqvsnmliuj4roibnqonq" />
    </PracticeVSTSNuget>
  </packageSourceCredentials>
</configuration>