<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.2.0.1, Culture=neutral, PublicKeyToken=f70b15a39674a997" />
  </configSections>
  <appSettings>
    <add key="InstanceId" value="Consumer2" />
    <add key="HostName" value="Host1" /><!--podid-->
    <add key="CosmosThroughput" value="500" />

    <add key="DocDbUri" value="https://localhost:8081/" />
    <add key="DocDbKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="MonitoredDb" value="fpData" />
    <add key="MonitoredCollection" value="comments" />
    <add key="DestDb" value="fpData" />
    <add key="DestCollection" value="rxcomments" />
    <add key="LeaseDb" value="fpLease" />
    <add key="LeaseCollection" value="leases" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.22.0.0" newVersion="1.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.PolicyInjection" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CCH.Infrastructure.CommonInstrumentation" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.12" newVersion="1.2.0.12" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.3.0" newVersion="5.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Caching" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cch.ProSystemFx.PfxExceptions" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.3.0" newVersion="5.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CCH.Infrastructure.DAL" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CCH.Infrastructure" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.12" newVersion="1.2.0.12" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CCH.Infrastructure.ELExtension" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.12" newVersion="1.2.0.12" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.0" newVersion="8.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.TransientFaultHandling.Core" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.1" newVersion="5.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WcfExtensions.ServiceModel" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cch.ProSystemFx.ServiceBehaviors.CookieHandlerInspector" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cch.ProSystemFx.Security" publicKeyToken="f70b15a39674a997" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1" newVersion="1.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>