<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InstanceId" value="Consumer2" />
    <add key="HostName" value="Host1" />
    <!--podid-->
    <add key="CosmosThroughput" value="500" />

    <add key="DocDbUri" value="https://localhost:8081/" />
    <add key="DocDbKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="MonitoredDb" value="fpData" />
    <add key="MonitoredCollection" value="comments" />
    <add key="DestDb" value="fpData" />
    <add key="DestCollection" value="rxcomments" />
    <add key="LeaseDb" value="fpLease" />
    <add key="LeaseCollection" value="leases" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>